body {
    background-image: url("https://static2.bigstockphoto.com/0/9/2/large1500/290733307.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500%;
  }
  
   body {
    color:black;
    margin-left: 30px;
  } 

