body {
    color:black;
    margin-left: 30px;
  } 
  
  tr:nth-child(1)
  {
    background-color: black;
  }
  tr:nth-child(odd)
  {
    background-color:whitesmoke;
  }
  tr:nth-child(even)
  {
    background-color: grey;
  }