<p>calc works!</p>

First Number :
<input type="number" name="firstNo" [(ngModel)]="firstNo" />
<br/><br/>
Second Number :
<input type="number" name="secondNo" [(ngModel)]="secondNo" />
<br/><br/>
Sum Result :
<input type="number" name="sumresult" [(ngModel)]="sumresult" />
<br/><br/>
<input type="button" value="Sum" (click)="sum()" />
<br/><br/>

Minus Result :
<input type="number" name="minusresult" [(ngModel)]="minusresult" />
<br/><br/>
<input type="button" value="minus" (click)="minus()" />
<br/><br/>

Mult Result :
<input type="number" name="multresult" [(ngModel)]="multresult" />
<br/><br/>
<input type="button" value="mult" (click)="mult()" />
<br/><br/>

Div Result :
<input type="number" name="divresult" [(ngModel)]="divresult" />
<br/><br/>
<input type="button" value="div" (click)="div()" />
<br/><br/>