<div style="text-align:center">
<body width = "40%" height ="60%" margin="0" background = "https://r-cf.bstatic.com/images/hotel/max1024x768/219/219008380.jpg"
style="background-repeat: no-repeat" style = "background-size: 1700px">
    <button  [routerLink]="['/cmsmain',
 {outlets: {'data': ['customerlogin']}}]"class="customerlogin"><b><i>CUSTOMER LOGIN</i></b></button> &nbsp;&nbsp;&nbsp;&nbsp;
    <button   [routerLink]="['/cmsmain',
 {outlets: {'data': ['vendorlogin']}}]"class="vendorlogin"><b><i>VENDOR LOGIN</i></b></button> &nbsp;&nbsp;&nbsp;&nbsp;

<br/>
 <router-outlet name='data'></router-outlet>
 <div style="text-align:left">  
  
<h1>WE DELIVER TO......</h1>

    <ul><font color="white">
        <button type="button"><li>Abohar</li>
        </button><br/>

        <button type="button"><li>Achalpur</li>
        </button><br/>

        <button type="button"><li>Adilabad</li>
        </button><br/>

        <button type="button"><li>Adityapur</li>
        </button><br/>

        <button type="button"><li>Adoni</li>
        </button><br/>

        <button type="button"><li>Agartala</li>
        </button><br/>

        <button type="button"><li>Agra</li>
        </button><br/>

        <button type="button"><li>Ahmedabad</li>
        </button><br/>

        <button type="button"><li>Ahmednagar</li>
        </button><br/>

        <button type="button"><li>Anantapur</li>
        </button><br/>

        <button type="button"><li>Chennai</li>
        </button><br/>

        <button type="button"><li>Coimbatore</li>
        </button><br/>

        <button type="button"><li>Erode</li>
        </button><br/>

        <button type="button"><li>Trichy</li>
        </button><br/>

        <button type="button"><li>Madurai</li>
        </button><br/>

        <button type="button"><li>Nagapattinam</li>
        </button><br/>

        <button type="button"><li>Pollachi</li>
        </button><br/>

        <button type="button"><li>Tanjore</li>
        </button><br/>

        <button type="button"><li>Kakinada</li>
        </button><br/>

        <button type="button"><li>Tuticorin</li>
        </button><br/>

        <button type="button"><li>Tenali</li>
        </button><br/>

        <button type="button"><li>Tirunalveli</li>
        </button><br/>

        <button type="button"><li>Vellakoil</li>
        </button><br/>

</font>
</ul>
<br/>
<br/>

<h1 font color="red">ABOUT US!!!!</h1> 
<button type="button">
<font color="black">
<p size="10">It all started back in 2014 when Five BITS Pilani graduates,<b> Ramki,Sukumaran,Sankari,Paromita and Madhu</b> decided they wanted to make life easier by changing the way India eats - all with just a tap! With their idea of ’hyperlocal food delivery’, all they needed was the tech to power it and were introduced to Rahul Jaimini, who brought this vision to life with the first website. And with this,Eat...Oyee... was launched as a food ordering & delivery platform.</p>

    <p>In August of 2014,Eat...Oyee... began operations by signing up a few restaurants in Chennai, Bengaluru. Soon enough, the first team of Hunger Saviors came into action to deliver food within 40 minutes. Shortly after,Eat...Oyee... raised its first round of funding and launched the app in May of 2015. Fun fact: The technology that delivers great food right to your doorstep was completely developed in-house!</p>
    
<p>With love and support from consumers,Eat...Oyee... expanded far and wide, first through the entire city of Bengaluru and then across the entire country. As they say, the rest is history.</p>
    
<p>Today,Eat...Oyee... is the leading food ordering and delivery platform in India. The innovative technology, large and nimble delivery service, and exceptional consumer focus at Swiggy enabled a host of benefits that includes lightning fast deliveries, live order tracking and no restrictions on order amount, all while having the pleasure of enjoying your favourite meal wherever you'd like it.</p>

</font>
</button>

<div style="text-align:center">
<h1 font color="black"><b>CONTACT US!!!!</b></h1> 
<p><b>No.4, West </b></p>
<p><b>MadaStreet,Koyambedu,Aminjikarai,Chennai - 600 107</b></p>
<P>+91-7502062034</P>
</div>
<br/>
