<body>
    <div style ="text-align:left"> 
    <h1><p><b><i>Customer Info</i></b></p></h1>

<b>Customer Id :  {{customer.customerId}}</b> <br/>
<br/>
<br/>
<b>Customer Name : {{customer.customerName}}</b> <br/>
<br/>
<br/>
<b>Customer Email : {{customer.customerEmail}}</b> <br/>
<br/>
<br/>
<b>Customer Number : {{customer.customerNumber}}</b> <br/>
<br/>
<br/>
<b>Customer Address : {{customer.customerAddress}}</b> <br/>
<br/>
<br/>
<b>Customer Username : {{customer.customerUsername}}</b> <br/>
<br/>
. 
<br/>
<br/>
. 
<br/>
<br/>
. 
<br/>
<br/>
. 
<br/>
    </div>
</body>