
<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTn6JPMNFWGjlxbqTh-hi-krAbuzfbK7tzyhqHgy80mw_loR-jk" style="background-size: cover">
<div style ="text-align:left">
    <h6> . </h6>
    <h6> . </h6>
   <h1><p>Order food online</p>
   <p> from the best restaurants in Chennai</p></h1> 
    <h2>
        <p>Cooking gone wrong?</p>
        <p>hungry?</p>
        <p>Unexpected guest?</p>
        <p>Need Food we are here to Help you!!!!</p>
        <p>Order food from favourite restaurants near you</p>

    </h2>
    
    <div style="text-align:center">

    <!-- <body> -->
        <h1>
<form method="post">
    
        
  
    USER NAME :
    <input type="text" name="userName" [(ngModel)]="userName" /> <br/><br/> 
    PASSWORD : 
    <input type="password" name="passWord" [(ngModel)]="passWord"  /> <br/><br/> 
    <input type="button" value="LOGIN" (click)="validate()" />
    <!-- </div> -->
    <br/>


</form>
<p *ngIf="count > 1">
    <b>Invalid Credentials...</b>
</p>
</h1>
<br/>
<br/>
 
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
 
<br/>
<br/>
 
<br/>
<br/>

<br/>
<br/>
<br/>
