<body>
    <div style ="text-align:left"> 
    <h1><p>customer Info</p></h1>

Customer Id :  {{customer.customerId}} <br/>
<br/>
<br/>
Customer Name : {{customer.customerName}} <br/>
<br/>
<br/>
Customer Email : {{customer.customerEmail}} <br/>
<br/>
<br/>
Customer Number : {{customer.customerNumber}} <br/>
<br/>
<br/>
Customer Address : {{customer.customerAddress}} <br/>
<br/>
<br/>
Customer Username : {{customer.customerUsername}} <br/>
<br/>
. 
<br/>
<br/>
. 
<br/>
<br/>
. 
<br/>
<br/>
. 
<br/>
    </div>
</body>